@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Dokdo|Roboto');

.static {
    border: 1px solid green;
    padding: 10px;
    position: static;
    margin-bottom: 30px;
    font-family: 'Dokdo', cursive;
}

.relative-1 {
    border: 1px solid blue;
    padding: 10px;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.relative-2 {
    border: 1px solid red;
    padding: 10px;
    width: 800px;
    position: relative;
    left: 800px;
    bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.static-1 {
    border: 1px solid orange;
}

.absolute {
    border: 1px solid black;
    padding: 10px;
    position: asbolute;
    width: 150px;
    top: 30px;
    font-family: 'Dancing Script', cursive;
}

.fixed {
    border: 1px solid purple;
    padding: 10px;
    position: fixed;
    width: 150px;
    top: 0px;
    right: 0px;
    font-family: 'Roboto', sans-serif;
}